@mixin flex($jus: center, $ali: center, $dir: row, $gap: 0px) {
	display: flex;
	justify-content: $jus;
	align-items: $ali;
	flex-direction: $dir;
	gap: $gap;
}

@mixin grid($col: 0, $col_size: 1fr, $row: 0, $row_size: 1fr, $gap: 0px) {
	display: grid;
	grid-template-columns: repeat($col, $col_size);
	grid-template-rows: repeat($row, $row_size);
	gap: $gap;
}

@mixin media($query) {
	$breakpoints: (
		'xs': '(min-width: 360px)',
		's': '(min-width: 486px)',
		'm': '(min-width: 768px)',
		'l': '(min-width: 1024px)',
		'xl': '(min-width: 1280px)',
		'xxl': '(min-width: 1440px)'
	);

	@if map-has-key($breakpoints, $query) {
		@media screen and #{map-get($breakpoints, $query)} {
			@content;
		}
	} @else {
		@error "ERROR: No breakpoint specified for query '#{$query}'";
	}
}
