// Light mode
@media (prefers-color-scheme: light) {
	:root {
		--bg: #ebedda;
		--text: #1c1c1b;
		--alt-text: #ebedda;
		--accent: #e15846;
		--dm-toggle: #f4dc9f;
		--muted-text: rgba(0, 0, 0, 0.5);
	}
}

[data-theme='light'] {
	--bg: #ebedda;
	--text: #1c1c1b;
	--alt-text: #ebedda;
	--accent: #e15846;
	--dm-toggle: #f4dc9f;
	--muted-text: rgba(0, 0, 0, 0.5);
}

// Dark mode
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1c1c1b;
		--bg-muted: rgba(28, 28, 27, 0.6);
		--text: #ebedda;
		--alt-text: #1c1c1b;
		--accent: #e15846;
		--accent-muted: rgba(225, 88, 70, 0.6);
		--dm-toggle: #f4dc9f;
		--muted-text: rgba(255, 255, 255, 0.5);
	}
}

[data-theme='dark'] {
	--bg: #1c1c1b;
	--bg-muted: rgba(28, 28, 27, 0.6);
	--text: #ebedda;
	--alt-text: #1c1c1b;
	--accent: #e15846;
	--accent-muted: rgba(225, 88, 70, 0.6);
	--dm-toggle: #f4dc9f;
	--muted-text: rgba(255, 255, 255, 0.5);
}
